<div class="container">
  <span>Search: </span>
  <div class="form-group">
    <input type="text" class="form-control" id="find" placeholder="Titre catégorie" [(ngModel)]="titre" #title="ngModel">
  </div>
  <input type="text" [(ngModel)]="titre">
  <div class="row" >
    
      <div class="col-md-4" style="margin-bottom: 20px;" *ngFor="let cat of categories | search:title.value">      <img
        [src]="cat.image"
        [alt]="cat.title"
        class="img-fluid h-50 w-75"
        (click)="showDesc(cat.description)"
      />
      <h3 appHighlight>{{cat.title| uppercase}}</h3>
      <button appHighlighter class="btn btn-primary" *ngIf="cat.available else alt">Voir produits</button>
       <ng-template #alt><p style="color: red;">Categorie non disponible</p></ng-template>
    </div>
    </div>

    
  </div>
